.s h1{
color:#bd5d38;
}
.p h4{
padding:0px 45px;
}
.s {
	   padding:20px;
	   
	   
  }
.s p{
font-weight:bold;
color:#000;
}

.s h2{
color:#24e2cf;
}
.j p{
	font-weight:bold;
color:#000;
}
.j h1{
color:#bd5d38;
}
