.sidenav {
 
}
.nav-stacked {
 padding:25px 40px;
 text-align:center;
 background-color:#bd5d38;
 color:#fff;
 
 font-family: 'Open Sans',serif;
 
}
.rr h1{
color:#F8BB10;
font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}